<div class="md-title md-primary md-hue-3 inset popup-secondary-title">My Series</div>
<div class="series-list-container">
	<md-content>
     <md-list flex="">
	    <md-list-item class="md-1-line" ng-repeat="serie in seriesList" ng-href="null" ui-sref='episodes({series: "{{serie}}"})'>
	    
	       <!--  <md-item-content md-ink-ripple layout="row" layout-align="start center">
	          <div class="inset">{{serie}}</div>
	        </md-item-content> -->
        

	        <img ng-src="http://geektv.ma/images/cover/cover_5d58.jpg" class="md-avatar" alt="/" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ serie}}</h3>
          </div>

	      <md-divider ng-if="!$last"></md-divider>
	    </md-list-item>
  </md-list>
</md-content>
</div>