html,body{
	height: auto;
	min-height: 0px;
}
.container{
	position: relative;
	min-width:440px;
}
.popup-title{ color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 32px; font-weight: 800; line-height: 72px; text-align: center; text-transform: uppercase; }
.popup-secondary-title{
	color: #ffffff;
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-weight: 800;
    background-color: rgb(100,181,246);
}

.popup-secondary-title *{
	fill: #ffffff;
}

.popup-secondary-title .series-avatar{
	height: 40px;
    margin-right: 10px;
}

.episodes-list ng-md-icon{
	fill:#64B5F6;
}

.episodes-list .season-episode-title{
	font-weight: bold !important;
	color:#666666 !important;
}

.flexed{
	display: flex;
}

.flex-title{
	display: flex;
	align-items:center;
}
.content_container .series-list-container md-list{
	padding-top: 0px;
	padding-bottom: 0px;
}

.content_container .series-list-container{
	max-height: 362px;
    overflow-y: auto;
}


.content_container .episodes-list-container{
	overflow-y: auto;
    max-height: 347px;
}

.no-results{
	text-align: center;
	font-size: 16px;
	font-family: 'Raleway',sans-serif;
	background-color: white;
	padding: 20px;
}
